<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @follower.email %></h1>,
    <p>
        <%= render @new_activity %>
    </p>
  </body>
</html>