<h2><%= @group.name %></h2>

<% if signed_in? %>
  <div id="join-group-button">
    <%= render "join_group_button", group: @group %>
  </div>
<% end %>

<div id= "like-group-button">
  <%= render "like_group_button", group: @group %>
</div>

<div>
  <%= render @images %>
</div>